<table>
    <thead>
        <tr>
            <th>Completed</th>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>

    <tbody *ngIf="dataLoaded">
        <!-- <tr *ngFor="let task of tasks">
            <td><input type="checkbox" name="" id=""></td>
            <td>{{ task?.name }}</td>
            <td>
                <a [routerLink]="['/edit', task?.id]">Edit</a>
                <a routerLink="[/delete, task?.id]">Delete</a>
            </td>
        </tr> -->
    </tbody>
</table>
